{
  "presets": [
    ["env", {
      "targets": { "node": 8 },
      "useBuiltIns": true
    }],
    "stage-0",
    "react"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["dev-expression"]
    }
  }
}
