{
  "presets": [
    "react",
    "react-optimize",
    "stage-0"
  ],
  "plugins": ["dev-expression"],
  "env": {
    "es": {
      "presets": [
        ["env", {
          "targets": { "node": 8 },
          "useBuiltIns": true,
          "modules": false
        }]
      ]
    },
    "commonjs": {
      "presets": [
        ["env", {
          "targets": { "node": 4 },
          "useBuiltIns": true
        }]
      ]
    }
  }
}
